@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Noto+Sans&display=swap');/* done */

:root {
    --primary-color: #F2F4F3;/* headings */
    --secondary-color: #000649;
    --accent1-color: #7F7B82;/* background */
    --accent2-color: #000000;

    --heading-font: 'Antic Slab', serif;
    --paragraph-font: 'Noto Sans', sans-serif;/* done */

    --nav-background-color: #7F7B82;
    --nav-link-color: #F2F4F3;
    --nav-hover-link-color: #F2F4F3;
    --nav-hover-background-color: #000000;/* done */
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}