@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap') font-family: 'Roboto', sans-serif;
:root {
    --primary-color: #F2F4F3;
    --secundary-color: #9BC9E2;
    --accent1-color: #449DD1;
    --accent2-color:: #000000;

    --heading-font: "Roboto", sans-serif;
    --paragraph-font:"Roboto", sans-serif;
    
    --nav-background-color: #F2F4F3
    --nav-link-color: #000000
    --nav-hover-link-color: 
    --nav-hover-background-color: 
}